job('job_dsl_example') {
  description("this is a test job")
  
  parameters{
    stringParam('Planet', defaultValue= 'Earth', description='Welcome on the planet Earth')
    booleanParam('Flag', true)
    choiceParam('Planets', ['Earth (default)','Venus','Mercure'])
  }
  
  scm{
    git('https://github.com/jenkins-docs/simple-java-maven-app.git','master')
  }
  
  triggers{
    cron('H 5 * * 7')
  }

  steps {
    shell("""
        echo 'Hello world'
        echo 'Jenkins DSL job'
    """)

    shell("echo Hello world 2 ")
  }

  publishers{
     mailer('katpetka7@gmail.com', true, true)
  }
}